@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color:#ffffff;
    --card-background-color:#FBF4F0;
    --accent-color-1:#f69946;
    --accent-color-2:#a9c623;
    min-width: 320px;
    font-family: 'Istok Web', sans-serif;
    font-style: normal;
    text-transform: none;
}