@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color:#ffffff;
    --card-background-color:#FBF4F0;
    --accent-color-1:#f69946;
    --accent-color-2:#a9c623;
    --text-color: rgb(51,51,51);
    --ui-block-name-size: 14px;
    --ui-block-name-font-weight: 700;
    --ui-block-name-font-family: "Istok Web", sans-serif;
    --ui-block-title-color: #333;
    --ui-block-title-size: 42px;
    --ui-block-title-size-mobile: 34px;
    --ui-block-title-font-weight: 700;
    --ui-block-title-font-family: "Istok Web", sans-serif;
    --ui-block-subtitle-color: #333;
    --ui-block-subtitle-size: 18px;
    --ui-block-subtitle-font-weight: 400;
    --ui-block-discount-font-weight: 600;
    --ui-block-subtitle-font-family: "Source Sans 3", sans-serif;
    --ui-block-tab-font-weight:500;
    --ui-block-card-font-size:20px;
    --ui-block-tab-under_line-color:lightgray;
    --ui-block-subtitle-font-family: "Source Sans 3",sans-serif;
    --ui-block-text-size: 16px;
    --ui-block-text-color: #707070;
    min-width: 320px;
    font-style: normal;
    text-transform: none;

    font-family: "Istok Web", sans-serif !important;
    /*font-family: 'Source Sans 3', sans-serif;*/
}

img { 
    display: block;
    width: 100%;
}
