.best-deals__container {
    padding: 39px 27px;
    background: url(../img/best-deals/freshy-best-deals.png);
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: center;
}

.best-deals__container .best-deals__text {
    color: var(--accent-color-1);
    text-align: center;
    font-size: var(--ui-block-name-size);
    font-weight: var(--ui-block-tab-font-weight);
}

.best-deals__container .best-deals__title {
    margin: 20px 0 0 0;
    color: var(--background-color);
    text-align: center;
    font-size: var(--ui-block-title-size-mobile);
    font-weight: var(--ui-block-title-font-weight);
    font-family: var(--ui-block-title-font-family);
}

.best-deals__container .best-deals__description {
    margin: 25px 0 0 0;
    color: var(--background-color);
    text-align: center;
    font-size: var(--ui-block-text-size);
    font-weight: var(--ui-block-subtitle-font-weight);
    font-family: var(--ui-block-subtitle-font-family);
}

.best-deals__container .best-deals__description .best-deals__discount-description {
    font-weight: var(--ui-block-discount-font-weight);
    font-family: var(--ui-block-subtitle-font-family);
}
.best-deals__container .best-deals__countdown{
    display: flex;
    justify-content: space-around;
    margin: 20px 0 0 0;
    background: red;
}
.best-deals__container .best-deals__countdown .countdown__item{
    
}



.best-deals__container .best-deals__discount{
    margin: 20px 0 0 0;
    text-align: center;
}
.best-deals__container .best-deals__discount .discount-text{
    color: var(--background-color);
    font-size: var(--ui-block-subtitle-size);
    font-weight: var(--ui-block-discount-font-weight);
    font-family: var(--ui-block-subtitle-font-family);
}
.best-deals__container .best-deals__discount .discount-code{
    color: var(--accent-color-1);
    font-size: var(--ui-block-subtitle-size);
    font-weight: var(--ui-block-discount-font-weight);
    font-family: var(--ui-block-subtitle-font-family);
}