.deals-week__heading__title{
    box-sizing: border-box;
    margin-top: 120px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Source Sans 3', sans-serif;
    color:var(--accent-color-1);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.deals-week__heading__subtitle{
    margin-top: 60px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Istok Web', sans-serif;
    color:var(--text-color);
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    overflow-wrap:break-word;
}
.deals-week__heading__text{
    font-family: 'Source Sans 3', sans-serif;
    color:var(--text-color);
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    overflow-wrap:break-word;
}

.deals-week .slider__slide {
    justify-content: center;
    margin: 24px;
    width: 242;
    height: 373;
    text-align: center;
    vertical-align: baseline;
    background-color:var(--card-background-color);
}
.slider__slide-pic {
max-width: 100%;
margin:auto;
text-align: center;
vertical-align: baseline;
padding: 4px;
}
.slider__slide-title{
    display: inline-block;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color:var(--text-color);
    margin-top: 8px;
}
.slider__slide-text{
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color:var(--accent-color-2);
    margin-right: 8px;
    margin-left: 8px;
}
.slider__add-to-cart{
    background-color: var(--card-background-color);
    text-decoration: none;
    cursor:pointer;
    border-radius: 5px;
    border-color: var(--accent-color-2);
    font-family: 'Istok Web', sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--accent-color-1);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}
@media (min-width:670px){
  .slider__slides {
    display:grid;
    grid-template-columns: 1fr 1fr;
} 
}