@import url(global.css);
@import url(header.css);
@import url(control.css);
@import url(index.deals-of-the-week.css);
@import url(categories.css);
@import url(about-us.css);
@import url(footer.css);
@import url(section.fresh-deals.css);
@import url(testimonials.css);
@import url(services.css);
@import url(section.organic.css);
@import url(testimonials.css);
@import url(app.css);
