.best-deals__container {
    padding: 39px 27px;
    background: url(../img/best-deals/freshy-best-deals.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.best-deals__container .best-deals__text {
    text-align: center;
    color: var(--accent-color-1);
    font-size: var(--ui-block-name-size);
    font-weight: var(--ui-block-name-font-weight);
}

.best-deals__container .best-deals__title {
    margin: 20px 0 0 0;
    text-align: center;
    color: var(--background-color);
    font-size: var(--ui-block-title-size-mobile);
    font-weight: var(--ui-block-title-font-weight);
}

.best-deals__container .best-deals__description {
    margin: 25px 0 0 0;
    text-align: center;
    color: var(--background-color);
    font-family: var(--ui-block-subtitle-font-family);
    font-weight: var(--ui-block-tab-font-weight);
}

.best-deals__container .best-deals__description .best-deals__discount-description {
    font-size: var(--ui-block-subtitle-font-family);
    font-family: var(--ui-block-subtitle-font-family);
    font-weight: var(--ui-block-discount-font-weight);
}

.best-deals__container .best-deals__countdown {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.best-deals__container .best-deals__countdown .countdown__item {
    display: block;
    text-align: center;
}

.best-deals__container .best-deals__countdown .countdown__item .countdown__item-decription {
    display: grid;
    margin: auto;
    color: rgba(255, 255, 255, 0.54);
    font-size: var(--ui-block-subtitle-size);
    font-family: var(--ui-block-subtitle-font-family);
    font-weight: var(--ui-block-subtitle-font-weight);
}

.best-deals__container .best-deals__countdown .countdown__item .countdown__item-decription::before {
    content: " ";
    position: absolute;
    width: 1px;
    height: 20%;
    left: 25%;
    top: 57%;
    bottom: 0;
    border: 1px solid red;
}

.best-deals__container .best-deals__countdown .countdown__item .countdown__item-decription:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -15px;
}

.best-deals__container .best-deals__countdown .countdown__item .countdown__item-decription .countdown__item-decription-text {
    color: var(--background-color);
    font-size: var(--ui-block-title-size-mobile);
    font-family: var(--ui-block-title-font-family);
    font-weight: var(--ui-block-discount-font-weight);
}

.best-deals__container .best-deals__discount {
    margin: 20px 0 0 0;
    text-align: center;
}

.best-deals__container .best-deals__discount .discount-text {
    margin: auto;
    color: var(--background-color);
    font-size: var(--ui-block-subtitle-size);
    font-family: var(--ui-block-subtitle-font-family);
    font-weight: var(--ui-block-discount-font-weight);
}

.best-deals__container .best-deals__discount .discount-code {
    color: var(--accent-color-1);
    font-size: var(--ui-block-subtitle-size);
    font-family: var(--ui-block-subtitle-font-family);
    font-weight: var(--ui-block-discount-font-weight);
}