.fresh_deals__header__title {
    color: var(--accent-color-1);
    font: var(--ui-block-name-size) var(--ui-block-name-font-family);
    font-weight: var(--ui-block-name-font-weight);
}

.fresh_deals__header__subtitle {
    font: var(--ui-block-title-size) var(--ui-block-title-font-family);
    font-weight: var(--ui-block-title-font-weight);
}

.fresh_deals__header__info {
    color: var(--ui-block-title-color);
    font: var(--ui-block-text-size) var(--ui-block-subtitle-font-family);
    font-weight: var(--ui-block-subtitle-font-weight);
}

.fresh_deals__main__tabs__element.selected:after {
    display: block;
    content: "";
    width: 150%;
    position: relative;
    background-color: var(--accent-color-1);
    height: 0.15rem;
    z-index: 1;
}

.fresh_deals__main__tabs__element.selected {
    color: var(--ui-block-title-color);
}

.fresh_deals__main__tabs__element {
    transition: color 300ms;
    cursor: pointer;
    color: var(--ui-block-text-color);
    font: var(--ui-block-text-size) var(--ui-block-subtitle-font-family);
    font-weight: var(--ui-block-tab-font-weight);
}

.fresh_deals__main__tabs__element:hover {
    color: var(--ui-block-title-color);
}

.fresh_deals__main__tabs {
    width: 90%;
    overflow-y: visible;
    overflow-x: auto;
}

.fresh_deals__main__tabs::after {
    content: "";
    width: 100%;
    position: relative;
    background-color: var(--ui-block-tab-under_line-color);
    height: 0.1rem;
    z-index: 0;
}

.fresh_deals__main__tabs__list {
    width: 100%;
    flex-grow: 1;
    justify-content: space-between;
}

.fresh_deals__main {
    width: 100%;
}

.fresh_deals__header {
    width: 90%;
}

.fresh_deals__main__cards {
    display: grid;
    gap: 3rem;
}

.fresh_deals__card__button {
    font: var(--ui-block-name-size) var(--ui-block-subtitle-font-family);
    font-weight: var(--ui-block-subtitle-font-weight);
    border: 0.15rem var(--accent-color-2) solid;
    background-color: var(--card-background-color);
    color: var(--accent-color-1);
    border-radius: 0.3rem;
    width: 6rem;
    height: 3rem;
    transition: background-color 0.3s;
}

.fresh_deals__card__button:hover {
    background-color: var(--accent-color-2);
    color: white;
}

.fresh_deals__card__price {
    font: var(--ui-block-text-size) var(--ui-block-subtitle-font-family);
    font-weight: var(--ui-block-title-font-weight);
    color: var(--accent-color-2);
    font-size: 1.3rem;
}

.fresh_deals__main__cards__card {
    background-color: var(--card-background-color);
    height: fit-content;
    width: 100%;
}

.fresh_deals__main__card__img {
    height: 90%;
    width: 90%;
}

.fresh_deals__card__title {
    font: var(--ui-block-card-font-size) var(--ui-block-subtitle-font-family);
    font-weight: var(--ui-block-tab-font-weight);
}

.fresh_deals__tab {
    width: 100%;
}

.fresh_deals__hidden_tab {
    display: none;
}

@media screen and (min-width: 768px) {
    .fresh_deals__main__cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .fresh_deals__main__cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
    }

    .fresh_deals__header {
        width: 60%;
    }

    .fresh_deals__main__tabs {
        width: 100%;
        overflow-y: visible;
        overflow-x: visible;
    }

    .fresh_deals__main__tabs__list {
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .fresh_deals__main__cards__card {
        background-color: var(--card-background-color);
        height: fit-content;
        width: 16rem;
    }

    .fresh_deals__main__cards {
        gap: 1.5rem;
    }

    .fresh_deals__header {
        width: 30rem;
    }

    .fresh_deals__main {
        width: fit-content;
    }
}

