.services {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(../img/section.services/grocery.girl.background.jpg);
    background-size: cover;
}

.services__title {
    font-family: var(--ui-block-name-font-family);
    position: relative; 
    display: flex;
    flex-direction: column;
}

.services__description-subtitle {
    font-size: 42px;
}

    {
    .services__heading {
        color: var(--accent-color-2);
        font-size: 14px;
    }
}

.services__icon {
    width: 60px;
}

.services__footer {
    position: relative;
    display: flex;
    flex-direction: grid;
    background-image: url(../img/section.services/downbackground.jpg);
    padding-top: 60px;
    padding-bottom: 50px;
}