.top-picks {
    padding-top: 90px;
    padding-bottom: 60px;
}

.top-picks__text-wrapper {
    margin: 0;
    padding: 0 24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.top-picks__caption {
    color: var(--accent-color-1);
    font-size: var(--ui-block-name-size);
    font-weight: var(--ui-block-name-font-weight);
    font-family: var(--ui-block-name-font-family);
}

.top-picks__title {
    margin: 0;
    margin-top: 20px;
    color: var(--ui-block-title-color);
    font-size: var(--ui-block-title-size-mobile);
    font-weight: var(--ui-block-title-font-weight);
    font-family: var(--ui-block-title-font-family);
}

.top-picks__description {
    margin-top: 25px;
    font-size: var(--ui-block-text-size);
    color: var(--ui-block-text-color);
}

.top-picks__list-wrapper {
    margin: 0;
    padding: 0 24px;
    position: relative;
}

.top-picks__list-button-prev {
    display: inline-block;
    position: absolute;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: #000;
    color: #000;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.top-picks__list-button-prev-img {
    top: 2px;
    display: inline-block;
    max-width: 100%;
    width: 20px;
    height: 20px;
    fill: #333333;
}

.top-picks__list {
    margin-top: 45px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
    list-style-type: none;
}

.top-picks__card {
    margin: 0;
    padding: 40px 30px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    background-color: #fbf4f0;
}

.top-picks__card-img {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

.top-picks__card-link {
    display: inline-block;
    margin-top: 24px;
    padding: 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: var(--ui-block-tab-font-weight);
    font-family: (--ui-block-subtitle-font-family);
    color: #333333;
}

.top-picks__card-price {
    color: var(--accent-color-2);
    font-weight: 700;
    white-space: nowrap;
}

.top-picks__card-button {
    margin-top: 24px;
    display: inline-block;
    position: relative;
    max-width: 100%;
    font-size: 12px;
    font-weight: 400;
    font-family: (--ui-block-subtitle-font-family);
    border: 0.15rem var(--accent-color-2) solid;
    background-color: var(--card-background-color);
    color: var(--accent-color-1);
    text-align: center;
    border-radius: 5px;
    width: 93px;
    height: 42px;
    transition: background-color 0.3s;
}

.top-picks__card-button:hover {
    background-color: var(--accent-color-2);
    color: #fff;
}

.top-picks__list-button-next {
    display: inline-block;
    position: absolute;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: #000;
    color: #000;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.top-picks__list-button-next-img {
    top: 2px;
    display: inline-block;
    max-width: 100%;
    width: 20px;
    height: 20px;
    fill: #333333;
}

@media (min-width: 767px) {

    .top-picks__list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }

    .top-picks__card {
        max-width: 404px;
        max-height: 555px;
    }

}

@media (min-width: 991px) {

    .top-picks__text-wrapper {
        padding: 0 266px;
    }

    .top-picks__list {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 25px;
    }

}