@import url("global.css");

.fresh_deals__header__title {
    color: var(--accent-color-1);
    font-size: 1rem;
}

.fresh_deals__header__subtitle{
    font-size: 2rem;
}

.fresh_deals__main__tabs ul{
    list-style: none;
}
.fresh_deals__main__tabs__element.selected {
    border-bottom: 0.01rem var(--accent-color-1) solid;
}

.fresh_deals__main__tabs__element:hover{
    cursor: pointer;
}

.fresh_deals__main__tabs{
    width:100%;
    border-bottom: 0.01rem lightgrey solid;
}
.fresh_deals__main{
    width:70rem;
}
.fresh_deals__header{
    width:40rem;
}

.fresh_deals__main__cards__card{
    background-color: var(--card-background-color);
    height: 28rem;
    width: 20rem;
}
